@import "variables.scss";
@import "mixins.scss";

*{
    font-family: 'Gill Sans', sans-serif;
    color:rgb(237, 250, 250);
    text-align: center;
    font-size: small;

}

li {
    color: rgb(72, 61, 75);
    background-color:$color-salmon ;
    color: black;
    margin-left: map-get($sizes, 70);
    margin-right: map-get($sizes, 10);
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    padding: map-get($sizes, 10);
    justify-content: space-between;
   
}

.letra{
    font-size: medium;
}


.salmon{
    background-color: $color-salmon;
}

#product{
    @include flex-column-center;
}

.container{
    margin: map-get($sizes, 50);
}


body{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.imagenFondo{
    background-image: url(../img/Chipa.jpeg);
    width: 100%;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 0.12fr 0.12fr 1fr 0.12fr;
}

.imagenFondo2{
    background-image: url(../img/Chipa.jpeg);
    width: 100%;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 0.12fr 0.12fr 1.5fr 0.12fr;
}

.imagenFondo3{
    background-image: url(../img/Chipa.jpeg);
    width: 100%;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 0.12fr 0.12fr 0.12 1fr 0.12fr;
}

.imagenFondo4{
    background-image: url(../img/Chipa.jpeg);
    width: 100%;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 0.12fr 0.12fr 1fr 0.12fr;
}

.imagenFondo5{
    background-image: url(../img/Chipa.jpeg);
    width: 100%;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 0.12fr 0.12fr 1fr 0.12fr;
}


.divIndex1{
    @include flex-row-rev-center;
}

.grid1{
    margin: map-get($sizes, 10);
    border-radius: map-get($sizes, 10);
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.contPadreUbic{
    @include flex-row-center;
}

div img,video{
    border-radius: map-get($sizes, 20);
}

a{
    text-decoration: none;

}

section{
    img{
        margin: map-get($sizes, 10);
    }
    video{
        @extend img ;
    }
}

footer div h3{
    display: inline-block;
    padding: map-get($sizes, 10);
    margin: map-get($sizes, 70);
    border-radius: map-get($sizes, 10);

}

i{
    font-size: 30px;
}

.enviar {
    background-color:$color-salmon ;
    margin-left: 30%;
    margin-right: 30%;
    @include flex-row-center;
    border-radius: 10%;
    padding: map-get($sizes, 10);
}

.contact{
    margin-top:map-get($sizes, 50);
    margin-bottom: map-get($sizes, 50);
}

input{
    color: black;
}


table{
    margin-left: 40%;
    margin-right: 40%;
    background-color:$color-salmon ;
    border: 3px;
    border-radius: map-get($sizes, 10);    
        th{
            color: rgb(72, 61, 75);
        }
}

td{
    color: rgb(72, 61, 75);  
}

.instruccion{
    background-color: $color-salmon;
    padding: map-get($sizes, 10);
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: map-get($sizes, 20);
    border-radius: map-get($sizes, 10);
}

.instruccion2{
    color: rgb(121, 121, 121);
    background-color: $color-salmon;
    padding: 1px;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: map-get($sizes, 10);
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width: 768px)   {
    img{
        height: 250px;
        width: 150px;
    }
    
    video{
        height: 250px;
        width: 150;
    }

    .logo{
        width: 75px;
        height: 75px;
    }
    
    *{
        font-size: medium;
    }


    .copyright{
        height: 15px;
        width: 15px;
    }

    iframe{
        width: 300px;
        height: 225px;
    }

}

h1{
    transition: all 3s;
    &:hover{
        padding: 30px;
        margin-left: 42%;
        margin-right: 42%;
        border-radius: map-get($sizes, 10);
        background-color: $color-salmon; 
    }
}

h2{
    transition: all 3s;
    &:hover{
        padding: 30px;
        background-color: $color-salmon;
        border-radius: map-get($sizes, 10);
    }
}

video{
    transition: 3s;
    &:hover{
        width: 325px;
        height: 425px;
    }
}

img{
    transition: 2s;
    &:hover{
        width: 325px;
        height: 425px;
    }
}

.logo{
    margin: map-get($sizes, 10);
    width: 100px;
    height: 100px;
    &:hover{
        width: 75px;
        height: 75px;
    }
}


.copyright{
    height: 30px;
    width: 30px;
    &:hover{
        width: 30px;
        height: 30px;
    }
}

